<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hananoko.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
				<key>dateExpires</key>
				<string>14.02.2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdfx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>record_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FF8E9813D0816A2B0EB5BCA0C6C0E4C3358BE56</string>
						<key>dateExpires</key>
						<string>14.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B34F6MARH</string>
						<key>name</key>
						<string>TAKU YAMAMOTO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7B34F6MARH.jp.co.hananoco.picturebook</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7B34F6MARH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>903107e2-8fe3-4073-b41b-fb0285a50ff9</string>
				<key>dateExpires</key>
				<string>14.02.2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: jp.co.hananoco.picturebook</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7B34F6MARH</string>
				<key>name</key>
				<string>TAKU YAMAMOTO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
